name: docker-buildx-dev

on:
  workflow_dispatch:
  push:
    branches:
      - dev
    paths-ignore:
      - '**/*.md'

jobs:
  multi-arch-dev:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push multi-arch dev
        uses: docker/build-push-action@v2
        with:
            context: .
            file: ./Dockerfile
            platforms: |
              linux/amd64
              linux/arm64
              linux/arm/v7
              linux/arm/v6
            push: true
            tags: ${{ github.repository }}:dev
